# NOTE! This file expects to be run by deploy.sh
#	which passes environment variables to be interpolated!!

services:
  # MUST match PREFECT_CONTAINER_NAME in swarm .yml file
  # (cannot be interpolated):
  prefect-server:
    image: $PREFECT_IMAGE
    command: prefect server start --host 0.0.0.0
    ports:
      - target: $PREFECT_PORT
        published: $PREFECT_PORT_PUBLISHED
        protocol: tcp
        mode: ingress
    environment:
      PREFECT_HOME: /data
    deploy:
      replicas: $PREFECT_CONTAINERS
      restart_policy:
        condition: on-failure
    networks:
      - my-network

  prefect-config:
    image: $KITCHEN_IMAGE
    build:
      # root/default directory for access by COPY command
      # relative to location of this file!
      context: ..
      # path to Dockerfile from context directory
      dockerfile: docker/Dockerfile
      args:
        SOUS_CHEF_REF: $SOUS_CHEF_REF
    command: /app/prefect-config.sh
    environment:
      PREFECT_API_URL: $PREFECT_URL
      WORK_POOL_NAME: $PREFECT_WORK_POOL_NAME
      SC_PREFECT_DEPLOYMENT: $KITCHEN_DEPLOYMENT_NAME
    env_file:
      - $PRIVATE_CONF_FILE
    deploy:
      restart_policy:
        condition: none  # Run once
    networks:
      - my-network

  prefect-worker:
    image: $PREFECT_IMAGE
    command: prefect worker start --pool $PREFECT_WORK_POOL_NAME
    environment:
      LOG_LEVEL: DEBUG
      PREFECT_API_URL: $PREFECT_URL
      SOUS_CHEF_REF: $SOUS_CHEF_REF
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - my-network

  kitchen-api:
    image: $KITCHEN_IMAGE
    command: uvicorn sous_chef_kitchen.kitchen.api:app --host 0.0.0.0 --port $KITCHEN_PORT --reload --log-level trace
    ports:
      - target: $KITCHEN_PORT
        published: $KITCHEN_PORT_PUBLISHED
        protocol: tcp
        mode: ingress
    environment:
      PREFECT_API_URL: $PREFECT_URL
      SC_PREFECT_DEPLOYMENT: $KITCHEN_DEPLOYMENT_NAME
      SC_PREFECT_WORK_POOL: $PREFECT_WORK_POOL_NAME
      SC_MAX_USER_FLOWS: $SC_MAX_USER_FLOWS
      LOG_LEVEL: DEBUG
      SOUS_CHEF_REF: $SOUS_CHEF_REF
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
    networks:
      - my-network

networks:
  my-network:
    driver: overlay
    name: $NETWORK_NAME
